<template name="files">

	<div class="ui container">

		<div class="ui padded grid">
			
			<div class="row">
				<div class="ui cards">
					<div class="card">
						<div class="ui massive button js-browse-file">
							<i class="open folder icon"></i>
							<i class="camera icon"></i>
							Select Image
						</div>
					</div>
					<div class="card">
						<div class="or"></div>
						<div class="ui massive button js-drop-file" style="border: 4px dashed grey;">
							<i class="cloud upload icon"></i>
							Drag &amp; drop
						</div>
					</div>
				</div>
			</div>

			<div class="ui container">
						<div class="ui {{isUploadMessage}} negative message js-upload-message">
							<div class="header">{{uploadMessage}} &nbsp;</div>
							<i class="close icon"></i>
						</div>
				
			</div>

			<div class="row">
				<div class="ui cards">

					{{#each upload in uploads}}
						<div class="card">
							<a class="image js-select-file" href="/sketch?file={{md5 upload}}">
								<img src="{{link upload}}">
							</a>
							<div class="content">
								<div class="right floated">
									<div class="ui red icon button js-delete" data-key="{{id upload}}">
										<i class="delete icon"></i>
									</div>
								</div>
								<a class="header js-select-file" href="/sketch?file={{md5 upload}}">{{upload.filename}}</a>
								<div class="meta">
									<span class="age">{{size upload}} {{progress upload}} Uploaded {{when upload}}</span>
									{{#if progress upload}}
									<div class="ui tiny progress" id="{{id upload}}" data-percent={{progress upload}}>
										<div class="bar"></div>
									</div>
									{{/if}}
									<span></span>
								</div>
								<div class="extra">
								</div>
							</div>



						</div>		
						
					{{/each}}
				</div>
			</div>
			
		</div>

	</div>
</template>