<template name="header">
	<div class="ui top attached inverted blue menu ogNavbar">
		<a class="header js-sidebar item">
			<i class="sidebar icon"></i>
		</a>
		<a class="header item" href="/">
			<i class="home icon"></i>
		</a>
		<a class="header item" href="/page/files">
			<i class="folder open icon"></i>
		</a>
		<a class="header item" href="/sketch?image=paints1">
			<i class="file icon"></i>
		</a>
		<a class="header item" href="/scatter/all">
			RGB		</a>
		<a class="header item" href="/scatter/hue">
			JCH
		</a>
		<a class="header item" href="/surface">
			<i class="align center icon"></i>
		</a>
		<a class="header item" href="/page/space">
			<i class="spinner icon"></i>
		</a>
		<div class="ui dropdown item">
			<i class="zoom open icon"></i>
			<div class="icon inverted blue menu">
				<div class="item js-zoom" data-zoomlevel="0.5">x 0.5</div>
				<div class="item js-zoom" data-zoomlevel="0.75">x 0.75</div>
				<div class="item js-zoom" data-zoomlevel="1">x 1</div>
				<div class="item js-zoom" data-zoomlevel="1.25">x 1.25</div>
				<div class="item js-zoom" data-zoomlevel="2">x 2</div>
				<div class="item js-zoom" data-zoomlevel="3">x 3</div>
				<div class="item js-zoom" data-zoomlevel="5">x 5</div>
				<div class="item js-zoom" data-zoomlevel="7">x 7</div>
				<div class="item js-zoom" data-zoomlevel="10">x 10</div>
			</div>
		</div>
		<a class="header js-lock item" href="">
			<i class="{{ isLocked }} icon"></i>
		</a>
	</div>
</template>