<template name="header">
	<div class="ui grid">

		<div class="mobile only sixteen wide column">
		</div>			
		<div class="tablet only computer only sixteen wide column">

				<div class="ui blue inverted menu ogNavbar">
					<a class="header item" href="/">
						<i class="home icon"></i>
					</a>
					<a class="header item" href="/page/files">
						<i class="folder open icon"></i>
					</a>
					<a class="header item" href="/trace?image=paints1">
						<i class="file icon"></i>
					</a>
					<a class="header item" href="/thumbsketch">
						<i class="write icon"></i>
					</a>
					<a class="header item" href="/page/paint">
						<i class="paint brush icon"></i>
					</a>
					<a class="header item" href="/page/color2">
						<i class="tint icon"></i>
					</a>
					<a class="header item" href="/scatter/all">
						<i class="yelp icon"></i>
					</a>
					<a class="header item" href="/scatter/hue">
						<i class="yelp icon"></i>
					</a>
					<a class="header item" href="/surface">
						<i class="yelp icon"></i>
					</a>
					<a class="header item" href="/page/space">
						<i class="spinner icon"></i>
					</a>
					<a class="header item" href="/scatter2">
						<i class="computer icon"></i>
					</a>
<!-- 					<div class="right menu">
						<div class="item">
						</div>
					</div>
 -->
 				</div>
		</div>
	</div>			
</template>