<template name="header">
	<div class="ui top attached inverted blue menu ogNavbar">
		<a class="header js-sidebar item">
			<i class="sidebar icon"></i>
		</a>
		<a class="header item" href="/">
			<i class="home icon"></i>
		</a>
		<a class="header item" href="/page/files">
			<i class="folder open icon"></i>
		</a>
		<a class="header item" href="/trace?image=paints1">
			<i class="file icon"></i>
		</a>
		<a class="header item" href="/thumbsketch">
			<i class="write icon"></i>
		</a>
		<a class="header item" href="/page/paint">
			<i class="paint brush icon"></i>
		</a>
		<a class="header item" href="/page/color2">
			<i class="tint icon"></i>
		</a>
		<a class="header item" href="/scatter/all">
			<i class="yelp icon"></i>
		</a>
		<a class="header item" href="/scatter/hue">
			<i class="yelp icon"></i>
		</a>
		<div class="ui dropdown item">
			<i class="folder open icon"></i>
			<div class="icon inverted blue menu">
				<div class="item"> <i class="arrow circle up icon"></i></div>
				<div class="item"> <i class="arrow circle down icon"></i></div>
			</div>
		</div>

		<a class="header item" href="/surface">
			<i class="yelp icon"></i>
		</a>
		<a class="header item" href="/page/space">
			<i class="spinner icon"></i>
		</a>
		<a class="header item" href="/scatter2">
			<i class="computer icon"></i>
		</a>
<!-- 					<div class="right menu">
			<div class="item">
			</div>
		</div>
-->
		</div>
</template>