<template name="panelForSettings">
	<div class="ui container segment">
		<div class="ui threshold form">
			<h2 class="ui header">Thresholds</h2>
            <div class="field">
                <label>Number of Tones</label>
                <div class="ui fluid icon buttons">
                    <div class="ui button js-onLevelDec"><i class="chevron left icon"></i></div>
                    <div class="ui button js-onLevelMid">{{numLevels}} Levels</div>
                    <div class="ui button js-onLevelInc"><i class="chevron right icon"></i></div>
                </div>
            </div>
            <div class="field">
                {{#if isLevels}}
                    <label>Tone Opacity</label>
                    <div class="ui fluid mini icon buttons">
                        {{#each level in opacities}}
                            <div class="ui {{isOpacity level}} button js-onOpacity" data-level={{level}}>{{level}}%</div>
                        {{/each}}
                    </div>
                    <label>Mask Tones</label>
                    <div class="ui fluid mini icon buttons">
                        {{#each level in levels}}
                            <div class="ui {{isMasked level}} button js-onMask" data-level={{level}}>{{level}}</div>
                        {{/each}}
                    </div>
                {{/if}}
            </div>

            <div class="grouped fields">
                <div class="field ui toggle checkbox js-showColors">
                    <input type="checkbox" name="showColors" {{isShowColors}} tabindex="1" class="hidden">
                    <label>Show Colors</label>
                </div>
                <div class="field ui toggle checkbox js-maxContrast">
                    <input type="checkbox" name="maxContrast" {{isMaxContrast}} tabindex="3" class="hidden">
                    <label>Max Chroma</label>
                </div>
                <div class="field ui toggle checkbox js-showSoftEdges">
                    <input type="checkbox" name="showSoftEdges" {{isShowSoftEdges}} tabindex="2" class="hidden">
                    <label>Show Soft Edges</label>
                </div>
            </div>

		</div>
	</div>
</template>

