<template name="panelForColor">
	<div class="ui segment">
		<div class="ui padded grid">
			<div class="row js-colortitle ">
				<div class="column">
					<div class="ui header">
					<span>{{colorCode}}</span>
					<div class="ui sub header">Add color name</div>
					</div>
				</div>
			</div>
		</div>
		<div class="js-panelForColor"></div>
		<div class="ui three mini blue statistics js-colorstats">
			<div class="statistic">
				<div class="value">
					{{value}}
				</div>
				<div class="label">
					Value
				</div>
			</div>
			<div class="statistic">
				<div class="value">
					{{hue}}
				</div>
				<div class="label">
					Hue
				</div>
			</div>
			<div class="statistic">
				<div class="value">
					{{chroma}}
				</div>
				<div class="label">
					Chroma
				</div>
			</div>
		</div>


	</div>
</template>