<template name="panelForColor">
	<div class="ui segment">
		<div class="ui three mini blue statistics">
			<div class="statistic">
				<div class="value">
					{{hue}}
				</div>
				<div class="label">
					Hue
				</div>
			</div>
			<div class="statistic">
				<div class="value">
					{{value}}
				</div>
				<div class="label">
					Value
				</div>
			</div>
			<div class="statistic">
				<div class="value">
					{{chroma}}
				</div>
				<div class="label">
					Chroma
				</div>
			</div>
		</div>
		<div class="ui one mini blue statistics">
			<div class="statistic">
				<div class="value">
					{{threshold}}
				</div>
				<div class="label">
					Threshold
				</div>
			</div>
		</div>	

		<div class="js-panelForColor"></div>

	</div>
</template>